:root {
    --primaryColor: #d7d7d;
    --secondaryColor: #8c8c8c;
    --darkColor: #111;
    --lightColor: ·#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
